/* css reset */
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Baloo Bhai 2','Trebuchet MS',  cursive;
}
html{
    scroll-behavior: smooth;
}
/* nav bar */
#navbar{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    position: sticky;

}
.logo i{
    font-size: 45px;
    margin: 20px;
    color: white;
    animation: logo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 5s;


}

#navbar ul{
    display: flex;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    height: 83%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}
#navbar ul li{
    list-style: none;
    font-size: 1.1rem;
}
#navbar ul li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px 22px;

}
#navbar ul li a:hover{
    background-color: white;
    color: black;
    border-radius: 8px;
}

/* tomato image section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 618px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
   background: url('images/spaghetti-1932466_1920.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.98;

}
.h-primary{
    font-size: 2.8rem;
    /* color: white; */
    text-align: center;
    
}
#home h1{
    color: white;
    font-size: 3rem;
    text-align: center;
    
}
#home p{
    color: white;
    font-size: 1.1rem;
    text-align: center;
    text-transform: uppercase;
}
.btn{
    padding: 8px 40px;
    border: 2px solid rgb(39, 38, 38);
    margin: 15px;
    border-radius: 6px;
    cursor: pointer;
}

/* services container */
.h-secondary{
    font-size: 2.1rem;
    text-shadow: 8px 4px  7px grey;;

}
.center{
    text-align: center;
}
#services{
    display: flex;
    margin: 10px;
    
}
#services .box{
    border: 2px solid#a7a1a1;
    margin: 5px;
    padding: 5px 40px;
    border-radius: 25px;
    background-color:#fffbfb;
    box-shadow: 15px 10px  10px grey;
}
.box img{
    
    height: 100px;
    margin: 10px auto;
    display: block;
    animation: services;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-delay: 1s;
}
#client-section{
    /* border: 2px solid black; */
    margin: 10px;
    
    


}
#client{
    display: flex;
    justify-content: center;
    align-items: center;

}
#client .client-item img{
    height: 170px;
    width: 200px;
    border-radius: 50px;
    padding: 10px 60px;
    position: relative;
    animation: jerry1; 
    animation-duration: 5s;
    animation-iteration-count: infinite;
    

}
@keyframes jerry1 {
    from{
        /* transform: rotate(0deg); */
        transform: scale(1);

    }
    to{
        /* transform: rotate(45deg); */
        transform: scale(1.1);

    }
    
}
footer{
    width: 100%;

    background-color: black;
    color: white;
    padding: 8px;
    font-size: 12px;
}
/* form */

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 34px;
    position: relative;
}
#contact-box label{
    font-size: 1.2rem;

}

#contact-box input, #contact-box textarea{
    width: 100%;
    padding: 5px;
    background-color: transparent;
    
}

#contact-box::before{
    content: "";
    background: url('images/2480553-new.jpg') no-repeat center center/cover;
     position: absolute;
     top: 0px;
     /* height: 100%; */
     width: 100%;
     z-index: -1;
     opacity: 0.5;
     height: 590px;
}
#contact-box #form-group .btn2
{
    margin: 10px 150px;
    padding: 4px 30px;
    border: 2px solid rgb(39, 38, 38);
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.socialmedia i{
    font-size: 25px;
    color:rgb(43, 40, 40);
    padding: 15px;
    transition-property: all;
    transition-duration: 1s;
    

}
.socialmedia i:hover{
    transform: scale(1.5);
    
    

}
@keyframes services {
    from{
       

    }
    to{
        transform: scale(1.3);

    }
    
}

@keyframes logo {
    from{
       transform: rotate(deg);

    }
    to{
        transform: rotate(360deg)

    }
    
}