#navbar{
    flex-direction: column;

}
#navrbar ul li a{
    padding: 0px 7px;
}
#navbar ul li{
    font-size: 15px;
}

#home{
    height:370px;
    padding: 3px 20px;
    flex-direction: column;
    

}
#home::before{
    height:370px;
    width: 111%;

}

#home p{
    font-size:10px;
}

#home h1{
    font-size: 20px;
    margin-top: 119px;
}
.h-primary{
    font-size: 2rem;
}
.btn{
    font-size: 13px;
    padding: 2px 4px;
}

#services{
    flex-direction: column;

}




#client{
    flex-wrap: wrap;

}
#client img{
    width: 200px;
}

#contact-box::before{
    height: 500px;
}

.socialmedia i{
    /* overflow: hidden; */
    /* position: absolute; */
    flex-wrap: nowrap;
    
}
footer{
    width: 100%;
}
